div {
    font-family: Arial, sans-serif;
  }

  .scaleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .scaleContainer .transform {
    transform: scale(0.65);
    transform-origin: center;
  }

  a {
    cursor: pointer;
  }